.div-table {
    color:white;
    font-size:12px;
    display: table;         
    width: 100%;         
    background-color: #101212;                
    border-spacing: 0px; /* cellspacing:poor IE support for  this */
  }
  .div-table-row{
      height:26px;
      text-align: left;
  }
  .div-table-row {
    display: table-row;
    width: 100%;
    clear: both;
    background-color: #363535;  
  }

  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 150px;    
    padding-top:6px;
  }
  .div-table-col:nth-child(3){
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 265px;  
    padding-top:6px;
  }
  
