body{
    background-color: #202028;
    color: white;
}

button{
    background-color: #3060BF;
    color:white;
    border-radius: 12px;
    padding-left:34px;
    padding-right:34px;
    padding-top:4px;
    padding-bottom:4px;
}

h5{
    font-size: 24px;
}
::selection {
    color: none;
    background: none;
}