body{
    background-color: #101212;
    color: white;
}

button{
    background-color: blue;
    color:white;
    border-radius: 12px;
    padding-left:34px;
    padding-right:34px;
    padding-top:4px;
    padding-bottom:4px;
}


.div-table {
    color:white;
    font-size:14px;
    display: table;         
    width: 100%;         
    background-color: #101212;                
    border-spacing: 0px; /* cellspacing:poor IE support for  this */
  }
  .div-table-row{
      height:30px;
      text-align: left;
  }
  .div-table-row:nth-child(even) {
    display: table-row;
    width: 100%;
    clear: both;
    background-color: #363535;  
  }
  .div-table-row:nth-child(odd) {
    display: table-row;
    width: 100%;
    clear: both;
    background-color: #030303;  
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 120px;    
   
  }
  .div-table-col:nth-child(2){
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;  
  }
