body{
    background-color: #101212;
    color: white;
}

button{
    background-color: blue;
    color:white;
    border-radius: 12px;
    padding-left:34px;
    padding-right:34px;
    padding-top:4px;
    padding-bottom:4px;
}